.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 8px;
  background: #F2F2F3;
  border-radius: 8px;
}
.submit {
  width: 100%;
  line-height: 1;
  color: #FFFFFF;
  background: #FF7020;
  border-radius: 8px;
  text-align: center;
  padding: 9px 0;
}
.submit:hover {
  background: #FFAB08;
}
.submit:focus-visible {
  background: #F86310;
  outline: none;
}
.submit_unactive {
  background: #F9F9F9;
  color: #ACACAC;
}

.btn-add {
  width: 100%;
  line-height: 1;
  color: #000000;
  background: #F2F2F3;
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
}
.btn-add:hover {
  background-color: #FFAB08;
  color: #FFFFFF;
}
.btn-add:focus-visible {
  background: #F86310;
  color: #FFFFFF;
  outline: none;
}
.btn-add_unactive {
  background: #F9F9F9;
  color: #ACACAC;
}

@media (min-width: 1024px) {
  .count {
    padding: 9px 12px;
    border-radius: 12px;
  }
  .submit {
    border-radius: 12px;
    padding: 12px 0;
  }
  .btn-add {
    border-radius: 12px;
    padding: 12px 0;
  }
}