.footer {
  padding: 24px 0 26px;
  background-color: #ffffff;
}
.footer a {
  color: #FF7020;
  cursor: pointer;
}
.footer a:hover, .footer a:focus-visible {
  outline: none;
  color: #FFAB08;
}
.footer__logo svg {
  width: 196px;
  margin-bottom: 24px;
}
.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 34px;
  gap: 24px;
}
.footer .contacts__description {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 8px;
}
.footer .contacts__phone-number {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .contacts__wrapper-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  line-height: 16px;
}

@media (min-width: 500px) {
  .footer {
    padding-top: 40px;
  }
  .footer__logo svg {
    margin-bottom: 36px;
  }
  .footer .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
    gap: 86px;
  }
}
@media (min-width: 768px) {
  .footer .contacts {
    gap: 177px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 52px 0 39px;
  }
  .footer__logo svg {
    width: 300px;
    margin-bottom: 0;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 242px;
  }
  .footer .contacts {
    gap: 50px;
  }
  .footer .contacts__description {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .footer .contacts__phone-number {
    line-height: 1.5;
  }
  .footer .copyright {
    font-size: 12px;
  }
}
@media (min-width: 1360px) {
  .footer__container {
    gap: 360px;
  }
  .footer .contacts {
    gap: 126px;
  }
}