.order {
  position: relative;
  line-height: 16px;
}
.order__wrapper {
  position: absolute;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 16px 10px;
}
.order__wrap-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.order__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.order__count {
  font-size: 10px;
  line-height: 16px;
  padding: 1px 13px;
  background-color: #F2F2F3;
  border-radius: 6px;
}
.order_collapsed .order__wrapper {
  position: static;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.order_collapsed .order__wrap-list {
  display: none;
}
.order_collapsed .order__wrap-tittle {
  margin-bottom: 0px;
}
.order__wrap-product-item {
  padding: 11px 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #F2F2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.order__wrap-product-item:first-of-type {
  border-width: 1px 0;
}
.order__wrap-product-item .product-item__img {
  width: 64px;
  height: 52px;
  border-radius: 8px;
}
.order__wrap-product-item .product-item__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order__wrap-product-item .product-item__description .product-item__title {
  font-weight: normal;
}
.order__wrap-product-item .product-item__description .product-item__weight {
  color: #B1B1B1;
  margin-bottom: 5px;
}
.order__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.3;
  margin: 13px 0 19px 0;
}
.order__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  font-size: 10px;
  line-height: 22px;
}
.order__footer .order__apeal {
  padding-left: 32px;
  background-image: url(/img/delivery.png);
  background-size: 24px;
  background-position: left;
  background-repeat: no-repeat;
}
.order__footer .order__collapse {
  color: #B1B1B1;
  outline: none;
}
.order__footer .order__collapse:hover, .order__footer .order__collapse:focus-visible {
  color: #000000;
}

@media (min-width: 500px) {
  .order_collapsed .order__wrapper {
    width: 145px;
  }
}
@media (min-width: 1024px) {
  .order {
    margin-top: 84px;
    position: static;
  }
  .order__wrapper {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 18px;
    padding: 24px 16px;
  }
  .order__wrap-tittle {
    margin-bottom: 12px;
  }
  .order__title {
    font-size: 24px;
    line-height: 1;
  }
  .order__count {
    font-size: 12px;
    padding: 2px 17px;
  }
  .order__wrap-product-item {
    padding: 16px 0;
  }
  .order__wrap-product-item .product-item__description {
    font-size: 12px;
  }
  .order__total {
    margin: 16px 0 24px 0;
  }
  .order__footer {
    font-size: 12px;
  }
  .order__footer .order__collapse {
    display: none;
  }
}