@import "../../common-styles/mixins";
@import "../../common-styles/variables";

.header {
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E%0A");
    background-position: bottom;
    background-size: 611px;
    padding: 24px 0 37px;
    color: #ffffff;
    margin-bottom: 30px;

    .logo {
        width: 150px;
        margin: 0 auto 24px
    }

    .title_container {
        padding-bottom: 242px;
        background: url("../../assets/img/header_burger.svg") bottom/227px no-repeat;
        text-align: center;
    }

    .title {
        font-weight: 800;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 16px;

        &_red {
            color: #FF5C00;
        }
    }
}

@include media-sm {
    .header {
        background-size: 1400px;
        padding-bottom: 44px;

        .container {
            max-width: calc(500px + ($container-padding * 2));
        }

        .title_container {
            padding-bottom: 0;
            padding-top: 27px;
            padding-left: 200px;
            background-position: left;
            background-size: contain;
            text-align: left;
            min-height: 190px;
        }

        .title {
            margin-bottom: 26px;
        }
    }
}

@include media-md {
    .header {
        background-size: 2540px;

        .container {
            max-width: 562px;
        }

        .title_container {
            padding-left: 237px;
            min-height: 229px;
        }

        .title {
            font-size: 36px;
        }
    }
}

@include media-lg {
    .header {
        background-size: 2880px;
        padding-bottom: 63px;
        margin-bottom: 40px;

        .container {
            max-width: calc(764px + ($container-padding * 2));
        }

        .title_container {
            padding-top: 50px;
            padding-left: 320px;
            min-height: 326px;
        }

        .title {
            font-size: 50px;
            margin-bottom: 52px;
        }
    }
}

@include media-xl {
    .header {
        padding-bottom: 70px;

        .container {
            max-width: calc(784px + ($container-padding * 2));
        }

        .title_container {
            padding-left: 347px;
        }
    }
}