html {
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    min-height: 100vh;
    min-width: 320px;
    background-color: #F9F9F9;
    color: #000000;
    position: relative;
    overflow-x: hidden;
}

.body-no-scroll {
    position: fixed;
    overflow: hidden;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, figure {
    margin: 0;
}

iframe, video {
    border: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.currency {
    font-weight: normal;
}

@include calc-container-width($container-width, $container-padding);

@include media-sm {
    $container-width: 480px;
    $container-padding: 10px;

    @include calc-container-width($container-width, $container-padding);
}

@include media-md {
        $container-width: 640px;
        $container-padding: 64px;

        @include calc-container-width($container-width, $container-padding);
}

@include media-lg {
    $container-width: 960px;
    $container-padding: 32px;

    body {
        font-size: 16px;
    }

    @include calc-container-width($container-width, $container-padding);
}

@include media-xl {
    $container-width: 1290px;
    $container-padding: 35px;

    body {
        font-size: 16px;
    }

    @include calc-container-width($container-width, $container-padding);
}