.footer {
    padding: 24px 0 26px;
    background-color: #ffffff;

    a {
        color: $primary-btn-color;
        cursor: pointer;
        @include transition-ease;

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-hover;
        }

        &:active {
            transform: translate(-1px, 1px);
        }
    }

    &__logo svg {
        width: 196px;
        margin-bottom: 24px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 34px;
        gap: 24px;

        &__description {
            font-size: 18px;
            line-height: 1.0;
            margin-bottom: 8px;
        }

        &__phone-number {
            color: #000000;
            display: flex;
            gap: 4px;
            align-items: center;
        }

        &__wrapper-links {
            display: flex;
            gap: 16px;
        }
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 16px;
}

@include media-sm {
    .footer {
        padding-top: 40px;

        &__logo svg {
            margin-bottom: 36px;
        }

        .contacts {
            flex-direction: row;
            margin-bottom: 40px;
            gap: 86px;
        }
    }
}

@include media-md {
    .footer {
        .contacts {
            gap: 177px;
        }
    }
}

@include media-lg {
    .footer {
        padding: 52px 0 39px;

        &__logo svg {
            width: 300px;
            margin-bottom: 0;
        }

        &__container {
            display: flex;
            gap: 242px;
        }

        .contacts {
            gap: 50px;

            &__description {
                font-size: 24px;
                margin-bottom: 22px;
            }

            &__phone-number {
                line-height: 1.5;
            }
        }

        .copyright {
            font-size: 12px;
        }
    }
}

@include media-xl {
    .footer {

        &__container {
            gap: 360px;
        }

        .contacts {
            gap: 126px;
        }
    }
}